<h1>Results</h1>

<% if @include == true && @english_words == true %>
  <p>Congratulations!! <strong><%= @input_answer %></strong> is a valid English word!</p>
<% elsif @include == false && @english_words == true %>
  <p>Sorry but <strong><%= @input_answer %></strong> can't be built out of <%= @letters.join(', ') %>.</p>
<% else %>
  <p>Sorry but <strong><%= @input_answer %></strong> doesn't seem to be a valid Englsih word.</p>
<% end %>

<br>
<%= link_to "Play again", root_path %>
